<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
    .mt-100 {
      margin-top: 100px
  }
  
  .card {
      margin-bottom: 30px;
      border: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      letter-spacing: .5px;
      border-radius: 8px;
      -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
      box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
  }
  
  .card .card-header {
      background-color: #fff;
      border-bottom: none;
      padding: 24px;
      border-bottom: 1px solid #f6f7fb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px
  }
  
  .card-header:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
  }
  
  .card .card-body {
      padding: 30px;
      background-color: transparent
  }
  .farmerpage{
    display:flex;
    justify-content:space-between;
  }
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background: #535c68; */
    background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  }
  
  .btn-primary,
  .btn-primary.disabled,
  .btn-primary:disabled {
      background-color: #4466f2 !important;
      border-color: #4466f2 !important
  }
      </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav style="position: fixed; width:100%;z-index: 4;"class="navbar navbar-expand-lg navbar-light bg-dark" id="<%=JSON.stringify(user)%>">
        <div class="container-fluid">
          <div style="margin-left: 65%" class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mb-2 mb-lg-0">
                <li style="width:150px;"class="mt-2 text-white nav-item">
                  Welcome-<%=user.name%>
                </li>
                <li class="nav-item">
                  <a class="text-white nav-link" href="/farmer">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="/farmer/upload">Upload</a>
                </li>
                <li class="nav-item">
                  <a class="text-white nav-link" href="/farmer/orders">Orders</a>
                </li>
            
               
               
              </ul>
              <form action="/logout" method="POST">
                <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
          </div>
        </div>
      </nav>
    </br>
</br>
</br>
       <section class="text-center flex justify-content-center w-100">
        <div class="width-100 container mx-auto pt-12" >
          <% if(orders.length!=0){ %>
            <h1 class="font-bold text-lg mb-4">All orders</h1>
           
          
         
            <table style="margin:none; width:100%;" class="bg-white">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Orders</th>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Phone</th>
                        <th class="px-4 py-2 text-left">Address</th>
                        <th class="px-4 py-2 text-left">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order=>{%>
                    <tr>
                        <td class="border px-4 py-2">
                            <p style="color:green">OrderId-<%=order._id%></p>
                        </br>Order Deatils-
                            <% for(orde in order.items){%>
                               <p style="color:red">Vegeatble Name- <%= order.items[orde].name %></p>
                               <p style="color:red">Quantity Ordered(Grams)- <%= order.items[orde].quantity %></p>
                               <p style="color:red">
                                 Vegetable Price(Per Kg)-<%= order.items[orde].price %>  
                               </p>   
                               <p style="color:red">
                                 Total Price-<%= (order.items[orde].price*order.items[orde].quantity)/1000 %>  
                               </p>  
                                                  
                            <%}%> 

                        </td>
                        <td class="border px-4 py-2">
                          <%=order.customerId.name%>
                       </td>
                        <td class="border px-4 py-2">
                           <%=order.phone%>
                        </td>
                        <td class="border px-4 py-2">
                      <%=order.address%>
                        </td>
                        <td class="border px-4 py-2">
                           <%if(order.status==="Cancelled"){%>
                            <p style="background-color: red;" class="text-white"><%=order.status%></p>
                            <%}else{%>
                                <p style="background-color: green;" class="text-white"><%=order.status%></p>
                                <%}%>

                        </br>
                    </br>
                             
                            <label for="status">Change Status</label>
                            <select id="<%=JSON.stringify(order)%>" onchange="myChangeStatus(this)">
                                <option value="<%=order.status%>"><%=order.status%></option>    
                            <option value="Accepted">Accepted</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </br>
                           
                            
                        
                       
                       
                        </td>
                    </tr>
                    <%})%>
                   
              <!----      <tr>
                        <td class="p-4"><span>No orders found!</span></td>
                    </tr>-->
                    
                </tbody>
            </table>
            <% }else{ %>
              <h2>You Have Not Recieved Any Orders Yet</h2>
              <div class="container-fluid mt-100">
                <img width="450px;"src="/img/no-order.jpg"/>
            </div>
              
              <%}%>
        </div>
    </section>
    <script src="/js/app.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>